[submodule "Ansible/roles/netplan"]
	path = Ansible/roles/netplan
	url = https://github.com/GlitchWraith/ansible-netplan.git
[submodule "Scripts/lancache-dns-overrides"]
	path = Scripts/lancache-dns-overrides
	url = https://github.com/zeropingheroes/lancache-dns-pfsense.git
